// background 背景

// body {
//   background-image:url(../images/background.jpg);
//   height:100%;
//   width:100%;
//   background-repeat:repeat-x;
//   background-attachment:fixed;
//   background-size:100% 100%;
// }

// page-opacity 透明度

.main-inner {
  opacity: 0.85;
}

.sidebar {
  opacity: 0.85;
}

.header-inner {
  background: rgba(255,255,255,0.85);
  .site-brand-container{
    
  }
}

.popup {
  opacity: 0.9;
}